<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSave()" [formGroup]="formGroup">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                        type="text" 
                        id="name" 
                        class="form-control" 
                        #nameInput\
                        formControlName="name">
                    <app-control-errors
                        [erros]="{
                            required: 'This field is required'
                        }"
                        [control]="formGroup.controls['name']"
                    ></app-control-errors>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                        type="number" 
                        id="amount" 
                        class="form-control" 
                        #amountInput
                        formControlName="amount">
                    <app-control-errors
                        [erros]="{
                            required: 'This field is required',
                            min: 'Minimum quantity is 1'
                        }"
                        [control]="formGroup.controls['amount']"
                    ></app-control-errors>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" style="margin-right: 1em;">{{ editMode ? 'Update' : 'Add' }}</button>
                    <button *ngIf="editMode" class="btn btn-danger" type="button" style="margin-right: 1em;" (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary" type="reset" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>